* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colorTextos: #3a3434;
    --colorBotones: #f69229;
    --colorFondo: #5d8a9f;
    --paddingSection: 60px 0px;
    --marginElementos: 40px;

}


body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: var(--paddingSection);
}

.navigation-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 70px;
}

.logo {

    height: inherit;
}

.logo img {
    display: block;
    height: 100%;

}



.links ul li {
    list-style: none;
    display: inline-block;
}

.links a {
    color: var(--colorTextos);
    text-decoration: none;
    margin-left: 10px;
}

.links a:hover{
    text-decoration: underline;
}

/* hero */
.hero {

    height: 500px;
    background-image: url("../assets/bady-abbas-hxi_yRxODNc-unsplash\ \(1\).jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


.container-text {
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 100%;
    color: var(--colorTextos);
    text-align: center;
}

.hero h1 {
    font-size: 60px;
    font-weight: 700;
}

.hero p {
    font-weight: 300;
    font-size: 25px;
    margin: 15px 0;
}

.button {
    width: 150px;
    display: block;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background-color: var(--colorTextos);
    margin: 0 auto;
    padding: 15px 0;
}

/* main */

.section-title {
    text-align: center;
    font-size: 35px;
    color: var(--colorTextos);
}

.copy {
    text-align: center;
    color: var(--colorTextos);
    margin: 20px 0;
}

.benefits {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding-top: var(--marginElementos);
}

.benefit-item {
    font-size: 20px;
    width: 10em;
    height: 10em;
    background-image: url("../assets/bady-abbas-hxi_yRxODNc-unsplash\ \(1\).jpg");
    background-size: cover;
    background-position: center;
    color: var(--colorTextos);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

.projects {
    background-color: #f2f2f2;
}

.container-imgs {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.container-imgs img {
    display: block;
    object-fit: cover;
    width: 30%;
    height: 220px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    margin-bottom: var(--marginElementos);

}

.people {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    object-fit: cover;
}


.person {
    text-align: center;
    margin-top: 5px;
    font-weight: 300;
    font-size: 20px;
}

footer{
    background-image: url("../assets/bady-abbas-hxi_yRxODNc-unsplash\ \(1\).jpg");
    background-position: center;
    background-size: cover;
}

footer .section-title, footer .copy{
    color: var(--colorTextos)
}

.social-network{
    padding-top: var(--marginElementos);
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
}