*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation{
    position: fixed;
    background-color: rgb(34, 131, 211);
    width: 100%;
    text-align:end
}

ul.list {
    display: inline-block;
}

ul li{
    display: inline;

}

ul li a{
    color: #fff;
    text-decoration: none;
    padding: 15px;
    line-height: 70px;
}

ul li a:hover{
    text-decoration: underline;
   
}

.scroll{
    height: 1200px;
}
