<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/flex-basic-layouts.css">
    <title>flex basic layouts</title>
</head>

<body>
    <h2 class="title">Even columns</h2>
    <div class="container even-columns">

        <div class="item-even-column">Lorem, ipsum.</div>
        <div class="item-even-column">Lorem, ipsum.</div>
        <div class="item-even-column">Lorem, ipsum.</div>
    </div>
    <h2 class="title">grid ish</h2>
    <div class="container grid-ish">
        <div class="item-grid">Lorem, ipsum.</div>
        <div class="item-grid">Lorem, ipsum.</div>
        <div class="item-grid">Lorem, ipsum.</div>
        <div class="item-grid">Lorem, ipsum.</div>
        <div class="item-grid last">Lorem, ipsum.</div>
    </div>

    <h2 class="title">Content and side bar</h2>
    <div class="container content-side">
        <div class="item-content-main">Lorem, ipsum.</div>
        <div class="item-content-side">Lorem, ipsum.</div>
    </div>
    <h2 class="title">Variation 1</h2>
    <div class="container variation-1">
        <div class="item-variation item-1">Lorem, ipsum.</div>
        <div class="item-variation item-2">Lorem, ipsum.</div>
        <div class="item-variation item-3">Lorem, ipsum.</div>
        <div class="item-variation item-4">Lorem, ipsum.</div>
        <div class="item-variation item-5">Lorem, ipsum.</div>
        <div class="item-variation item-6">Lorem, ipsum.</div>
        <div class="item-variation item-7">Lorem, ipsum.</div>
        <div class="item-variation item-8">Lorem, ipsum.</div>
    </div>

    <h2 class="title">Variation 2</h2>
    <div class="container variation-2">
        <div class="item-variation-2">Lorem, ipsum.</div>
        <div class="item-variation-2">Lorem, ipsum.</div>
    </div>

    <h2 class="title">variation 3</h2>
    <div class="container variation-3">
        <div class="item-row column">
            <div class="item-column">Lorem, ipsum.</div>
            <div class="item-column">Lorem, ipsum.</div>
            <div class="item-column">Lorem, ipsum.</div>
            
        </div>
        <div class="item-row item-mid">Lorem, ipsum.</div>
        <div class="item-row column">
            <div class="item-column">Lorem, ipsum.</div>
            <div class="item-column">Lorem, ipsum.</div>
            <div class="item-column">Lorem, ipsum.</div>
        </div>
    </div>

    <h2 class="title">strech all</h2>
    <div class="container strech-all">
        <div class="item-strech">Lorem, ipsum.</div>
        <div class="item-strech">Lorem, ipsum.</div>
        <div class="item-strech">Lorem, ipsum.</div>
        <div class="item-strech">Lorem, ipsum.</div>
    </div>

    <h2 class="title">strech mid</h2>
    <div class="container strech-mid">
        <div class="item-strech-mid">Lorem, ipsum.</div>
        <div class="item-center">Lorem, ipsum.</div>
        <div class="item-strech-mid">Lorem, ipsum.</div>
    </div>

    <h2 class="title">grid row</h2>
    <div class="container grid-row">
        <div class="item-grid-row">Lorem, ipsum.</div>
        <div class="item-grid-row">Lorem, ipsum.</div>
        <div class="item-grid-row">Lorem, ipsum.</div>
        <div class="item-grid-row">Lorem, ipsum.</div>
        <div class="item-grid-row">Lorem, ipsum.</div>
        <div class="item-grid-row">Lorem, ipsum.</div>
        <div class="item-grid-row">Lorem, ipsum.</div>
        <div class="item-grid-row">Lorem, ipsum.</div>
        <div class="item-grid-row">Lorem, ipsum.</div>
    </div>

    
    <h2 class="title">vertical stack</h2>
    <div class="container grid-column">
        <div class="item-grid-column">Lorem, ipsum.</div>
        <div class="item-grid-column">Lorem, ipsum.</div>
        <div class="item-grid-column">Lorem, ipsum.</div>
        <div class="item-grid-column">Lorem, ipsum.</div>
        <div class="item-grid-column">Lorem, ipsum.</div>
        <div class="item-grid-column">Lorem, ipsum.</div>
        <div class="item-grid-column">Lorem, ipsum.</div>
        <div class="item-grid-column">Lorem, ipsum.</div>
        <div class="item-grid-column">Lorem, ipsum.</div>
    </div>

    <h2 class="title">vertical bars</h2>
    <div class="container vertical-bars">
        <div class="item-vertical-1">Lorem, ipsum.</div>
        <div class="item-vertical-2">Lorem, ipsum.</div>
        <div class="item-vertical-3">Lorem, ipsum.</div>
        <div class="item-vertical-4">Lorem, ipsum.</div>
        <div class="item-vertical-5">Lorem, ipsum.</div>
    </div>


    <h2 class="title">horizontal bars</h2>
    <div class="container horizontal-bars">
        <div class="item-horizontal-1">Lorem, ipsum.</div>
        <div class="item-horizontal-2">Lorem, ipsum.</div>
        <div class="item-horizontal-3">Lorem, ipsum.</div>
        <div class="item-horizontal-4">Lorem, ipsum.</div>
        <div class="item-horizontal-5">Lorem, ipsum.</div>
    </div>




</body>

</html>