<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/flex-holy-grail.css">
    <title>flex- holy grail layout</title>
</head>
<body>
    <header>HEADER</header>
    <div class="holy-grail-body">       
        <aside class="left hg-sidebar">LEFT SIDE</aside>

        <main class="holy-grail-content">MAIN CONTENT</main>

        <aside class="right hg-sidebar">LEFT SIDE</aside>
    </div>
    <footer>FOOTER</footer>
</body>
</html>