<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid basic layouts</title>
    <link rel="stylesheet" href="css/grid-basic-layout.css">
</head>
<body>
<h2 class="title">Grid 1</h2>
<div class="container grid-1">
    <div class="item-grid-1">Lorem, ipsum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, quos.</div>
    <div class="item-grid-1">Lorem, ipsum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, quos.</div>
    <div class="item-grid-1">Lorem, ipsum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, quos.</div>
    <div class="item-grid-1">Lorem, ipsum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, quos.</div>
    <div class="item-grid-1">Lorem, ipsum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, quos.</div>
    <div class="item-grid-1">Lorem, ipsum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, quos.</div>
    <div class="item-grid-1">Lorem, ipsum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, quos.</div>
    <div class="item-grid-1">Lorem, ipsum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, quos.</div>
    <div class="item-grid-1">Lorem, ipsum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, quos.</div>
</div>

<div class="container holy-grail-grid">
    <header class="header">HEADER</header>
    <aside class="left">LEFT ASIDE</aside>
    <main class="main">MAIN</main>
    <aside class="right">RIGHT</aside>
    <footer class="foot">FOOTER</footer>
</div>



</body>
</html>